@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --blue: #3498db;
  --gray-100: #999999;
  --gray-50: #e0e0e0;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 90vw;
}
